<div class="row">

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/mastek.png", {class: "ecardimg-std"}%>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/homeoffice.png", {class: "ecardimg-std"}%>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <p>DEVOPS Engineer <br>Mastek <br>Aug 14 - Mar 17</p>
        </div>
      </div>
      <div class="ecard-body text-left">
        <p>
          Integrated AWS platform using Terraform and
          AWS resources (EC2, ASG, ELB, S3, EBS)<br>
          <br>
          Setup of local test environments using Docker
          and Ansible
          Setup of Zabbix monitoring
          templates for Jboss Fuse<br>
          <br>
          Develop RPMs via maven for automated
          deployments for Postges, Open LDAP, tomcat
          applications.<br>
          <br>
          Setup and maintenance  of Continuous
          Integration Environment using Jenkins,
          Nexus and Puppet<br>
          <br>
          Scripted automation for Jboss Fuse
          product setup and OSGI application deployment
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/atos.png", {class: "ecardimg-std"}%>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/homeoffice.png", {class: "ecardimg-std"}%>
              <%= image_tag "employmentcards/travelex.png", {class: "ecardimg-std"}%>
              <%= image_tag "employmentcards/nhs.png", {class: "ecardimg-std"}%>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <p>Middleware Engineer <br>ATOS <br>June 11 - June 14</p>
        </div>
      </div>
      <div class="ecard-body text-left">
        <p>
          Specialist for UNIX/Middleware environments, deployments in DEV, STAGE, PROD. <br>
          <br>
          Scripted automated deployments and L1/2 operations (ant, jython, perl, shell, java), preparing changes, solving production problems, documentation and wiki updates.<br>
          <br>
          Project resource for installation, configuration and administration of Apache for web servers and reverse proxies, Presentation layer environments running on tomcat and JBOSS, Integration environments using Oracle BPM and OSB and core environments using Weblogic 11g JBOSS specialist for setting up environments using JBOSS EAP.<br>
          <br>
          Configured containers and resources including JMS, JTA, JDBC connection pools, connectors, deployed web services, portal and EJB applications.<br>
          <br>
          Configured containers and resources including JMS, JTA, JDBC connection pools, connectors, deployed web services, portal and EJB applications.
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/cognizant.png", {class: "ecardimg-std"}%>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/lbg.png", {class: "ecardimg-std"}%>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <p>Middleware Engineer <br>Cognizant <br>Oct 09 - Mar 11</p>
        </div>
      </div>
      <div class="ecard-body text-left">
        <p>
          Banking Industry, working for Service Delivery in BAU and Projects team.
          <br>
          <br>
          Creating and configuring Websphere environments, IBM HTTP server, Websphere application server, Oracle Backend, Websphere MQ Messaging. Applying application and product patches.<br>
          <br>
          Management of Source control for environment builds using SCM ClearCase<br>
          <br>
          Wiki page setups, laid out environment builds, deployment procedures and port configurations for JVMs and HTTP servers setup on LPARS in Frames.<br>
          <br>
          Scripting of L1 & 2 operations for BAU service improvements
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/cerner.png", {class: "ecardimg-std"}%>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/nhs.png", {class: "ecardimg-std"}%>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <p>System Engineer <br>Cerner <br>July 06 - July 09</p>
        </div>
      </div>
      <div class="ecard-body text-left">
        <p>
          Healthcare Information Systems Supplier. Consultant of the project implementation. Administrator J2EE application middleware and backend<br>
          <br>
          SDeployed and Supported application patch upgrades and testing<br>
          <br>
          Develop RPMs via maven for automated
          deployments for Postges, Open LDAP, tomcat
          applications.<br>
          <br>
          Presented Knowledge transfer sessions to BAU application support team.<br>
          <br>
          Scripting of deployment of J2EE application using Jython and Websphere
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

    <div class="employment-card">
      <div class="row ecard-header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/cerner.png", {class: "ecardimg-std"}%>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= image_tag "employmentcards/nhs.png", {class: "ecardimg-std"}%>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <p>Application Support <br>Cerner <br>May 05 - July 06</p>
        </div>
      </div>
      <div class="ecard-body text-left">
        <p>
          Online NHS Appointment Booking system. 3rd line support, presentation code debugging, backend troubleshooting, management of raising and implementing production changes, maintenance of team knowledge base.
        </p>
      </div>
    </div>

  </div>

</div>
