<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/redhat.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/aws.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/fabric8.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/git.png", {class: "skillimg-std"}%>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/docker.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/puppet.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/oraclewls.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/tomcat.png", {class: "skillimg-std"}%>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/jenkins.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/centos.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/zabbix.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/jboss.png", {class: "skillimg-std"}%>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/bash.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/ruby.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/python.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/java.png", {class: "skillimg-std"}%>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/maven.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/nexus.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/rpm.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag "skillsgrid/postgres.png", {class: "skillimg-std"}%>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag "skillsgrid/terraform.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag "skillsgrid/amq.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <%= image_tag "skillsgrid/camel.png", {class: "skillimg-std"}%>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <%= image_tag "skillsgrid/apache.png", {class: "skillimg-std"}%>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <%= image_tag "skillsgrid/haproxy.png", {class: "skillimg-std"}%>
  </div>
</div>

