<%= render 'shared/nbresume' %>

<div class="container overview-container">
  <div class="row overview-section">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 overview-left">
      <%= render 'pages/overviewcardleft' %>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 overview-right">
      <%= render 'pages/overviewcardright' %>
    </div>
  </div>
</div>

<div class="parallax">
  <div class="parallax-content text-center">
  </div>
</div>

<div class="resume-page text-center">
  <h1>Resume<span class="aplocation"> of Anil Patel</span></h1>
  <div class="container">
    <div class="osep-respage"></div>
  </div>
  <h2>Employment</h2>
  <div class="container">
    <div class="osep-respage"></div>
  </div>
  <div class="container cards-container">
    <%= render 'pages/employmentcards' %>
  </div>
  <h2></h2>
  <div class="container">
    <div class="osep-respage"></div>
  </div>
  <h2>Courses/Certification</h2>
  <div class="container">
    <div class="osep-respage"></div>
  </div>
  <div class="container cards-container">
    <%= render 'pages/coursecards' %>
  </div>
  <h2></h2>
</div
